{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block titulo %}{% endblock titulo %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Oswald:wght@300;400&display=swap" rel="stylesheet">
        <!--<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    </head>

    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-danger bg-gradient static-top">
            <div class="container">
                <a class="navbar-brand fw-bolder text-light" href="https://cahuracan.com/"><img src="https://cahuracan.com/_next/image?url=%2Fimages%2Fescudo_reflex.png&w=256&q=75" width="65" height="100"/></a>
                <a class="navbar-brand fw-bolder text-light" href="https://cahuracan.com/" style="font-family: 'Bricolage Grotesque'; font-size: 25px;">OFFICIAL SITE</a>
                <a class="navbar-brand fw-bolder text-light" href="{% url 'inicio' %}" style="font-family: 'Bricolage Grotesque';">INICIO</a>
                <a class="navbar-brand fw-bolder text-light" href="{% url 'lista_estudiantes' %}" style="font-family: 'Bricolage Grotesque'">ESTUDIANTES</a>
                <a class="navbar-brand fw-bolder text-light" href="{% url 'lista_cursos' %}" style="font-family: 'Bricolage Grotesque'">DIVISIONES</a>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-dark bg-opacity-75" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="display: inline-flex;">
                            <span style="text-transform: capitalize;" style="font-family: 'Bricolage Grotesque'">{{ user.username }}</span>
                        </div>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar Mis Datos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'agregar_avatar' %}">Agregar Avatar</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}"><strong>Cerrar Sesión</strong></a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a class="btn fw-bolder bg-success.bg-gradient bg-dark bg-opacity-75 text-light border border-light rounded-pill" href="{% url 'login' %}" style="font-size: 20px;">Iniciar sesión</a>
                <a class="btn fw-bolder bg-success.bg-gradient bg-dark bg-opacity-75 text-light border border-light rounded-pill" href="{% url 'registro' %}" style="font-size: 20px;">Registrarme</a>
                {% endif %}
               <!-- <a class="btn fw-bolder bg-success.bg-gradient bg-success text-light border border-light rounded-pill" href="#">REGISTRARSE</a> -->
            </div>
        </nav>

        <div class="bg-danger p-2 text-dark bg-opacity-25">
        <section style="padding:4rem 3rem;">
            {% block contenido %}
            {% endblock contenido %}
        </section>
        </div>

        <div id="carouselExampleControls" class="carousel bg-danger p-2 text-dark bg-opacity-25" data-bs-ride="carousel" style="display: flex;">
            <div class="carousel-inner" style="justify-content: center; align-items: center; margin-bottom: 30px;">
              <div class="carousel-item active">
                <img src="https://admin2.cahuracan.com/new/wp-content/uploads/2021/01/el_palacio_3-1-1024x576.jpg" class="d-block w-100 rounded-pill" alt="mascotas" title="Nosotros" height="700" />
              </div>
        
              <div class="carousel-item">
                <a target="_blank"> <img src="https://admin2.cahuracan.com/new/wp-content/uploads/2021/01/el_palacio_1-2-1024x576.jpg" alt="video" class="d-block w-100 rounded-pill" height="700" title="Video TUKI Shop" class="video1" /> </a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        <!-- Footer-->
        <footer class="footer bg-danger p-2 text-danger bg-opacity-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="https://huracan.sedelab.com/">Sede Digital</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://cahuracan.com/defensoria">Defensoria</a></li>
                      
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; 2023 Instituto Oficial del C.A. Huracan</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/CAHuracan/"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://twitter.com/CAHuracan"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/cahuracan/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    </body>
</html>
