{% extends "base.html" %}

{% block contenido %}

<p style="font-size: 18px;">
  <strong style="font-family: 'Borel'; margin-right: 5px; font-size: 20px;">Apellido:</strong> {{object.apellido}}
</p>
<p style="font-size: 18px;">
  <strong style="font-family: 'Borel'; margin-right: 5px; font-size: 20px;">Nombre:</strong> {{object.nombre}}
</p>
<p style="font-size: 18px;">
  <strong style="font-family: 'Borel'; margin-right: 5px; font-size: 20px;">DNI:</strong> {{object.dni}}
</p>
<p style="font-size: 18px;">
  <strong style="font-family: 'Borel'; margin-right: 5px; font-size: 20px;">Telefono:</strong> {{object.telefono}}
</p>
<p style="font-size: 18px;">
  <strong style="font-family: 'Borel'; margin-right: 5px; font-size: 20px;">Email:</strong> {{object.email}}
</p>

<br>
<a href="{% url 'lista_estudiantes' %}" style="margin-right: 20px; font-size: 20px;">Volver a la lista</a>
<a href="{% url 'editar_estudiante' object.id %}" style="font-size: 20px;">Editar</a>

{% endblock contenido %}
