{% extends "base.html" %}

{% block titulo %}
Lista de estudiantes
{% endblock titulo %}

{% block contenido %}
<h2 class="text-danger" style="font-family: 'Borel'">Lista de estudiantes:</h2>
<a href="{% url 'crear_estudiante' %}" style="font-size: 20px;">Crear estudiante</a>
<br>

<table class="table" style="margin-top: 20px;">
  <tbody>
    <tr>
      <th style="font-family: 'Borel'; font-size: 20px;">ID</th>
      <th style="font-family: 'Borel'; font-size: 20px;">Nombre</th>
      <th style="font-family: 'Borel'; font-size: 20px; ">Apellido</th>
      <td></td>
      <td></td>
      <td></td>
    </tr style="font-family: 'Borel'">
    {% for alumno in object_list %}
    <tr>
      <td style="font-size: 17px;">{{ alumno.id }}</td>
      <td style="font-size: 17px;">{{ alumno.nombre }}</td>
      <td style="font-size: 17px;">{{ alumno.apellido }}</td>
      <td>
        <a href="{% url 'ver_estudiante' alumno.id %}" style="font-size: 17px;">Ver</a>
      </td>
      <td>
        <a href="{% url 'editar_estudiante' alumno.id %}" style="font-size: 17px;">Editar</a>
      </td>
      <td>
        <a href="{% url 'eliminar_estudiante' alumno.id %}">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}
